<nav class="nav-bar">
  <h1 onclick="window.location.href='/'">Storage</h1>
  <div>
    <button class="login-btn" onclick="window.location.href='./login'">Login</button>
    <button class="sign-btn" onclick="window.location.href='./sign-up'">Sign Up</button>
  </div>
</nav>